/* Modal.module.css */
.overlay {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: rgba(0, 0, 0, 0.7);
  display: flex;
  justify-content: center;
  align-items: center;
  z-index: 1000;
}

.modal {
  background: white;
  border-radius: 8px;
  padding: 20px;
  max-width: 500px;
  width: 90%;
  box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1);
  position: relative;
  overflow: hidden; /* Prevents overflow */
}

.closeButton {
  position: absolute;
  top: 10px;
  right: 10px;
  border: none;
  background: transparent;
  font-size: 1.5rem;
  cursor: pointer;
}

.modalImage {
  width: 100%;
  border-radius: 8px;
  margin-bottom: 15px;
}

.content {
  max-height: 400px; /* Limit height to enable scrolling */
  overflow-y: auto; /* Enable vertical scrolling */
}

.wineList {
  list-style: none;
  padding: 0;
}

.wineList li {
  margin-bottom: 10px;
}
